#imagem{
    width:540px;
    height:393px;
    margin:30px
    
}

.texto-descricao{
    /* Texto de descrição do produto abaixo da tabela de informaçoes de fabrica */
    font-family:monospace;
    font-size:x-large;
    padding: 50px;
}
#a1b2c3{
    /* Id da div de descrição com preço do produto */
    padding-top: 15%;
    margin-left: 220px;
    text-align: left;
    line-height:30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#testeprodutos{
    border-radius: 1px;
}




#inputDoTamanho{
/* Input da definição de tamanho */
    border-radius: 20px;
    
    
}
.miniproduto{
    width: 100px;
    margin-top: 13px;
}
.table{
    background-color: rgb(255, 255, 255);
    border:1px  black;
    width:100%;
    padding:20px
}
.lista{
    display: inline-block;
    position: relative;
    
    
   
}

.col-sm-4{
    height: 516px;
    text-align: center;
    width: 860px;
}
.col-sm-4 img{
    margin-top: 70px;

}
.carousel-inner img{
    max-width: 500px;
    margin-top: 45px;
}

#qtd{
    width: 50px;
    border: 1px solid #424242;
  border-radius: 50px;
  color: #424242;
  cursor: pointer;
  font-weight: bold;
  padding: 6px 7px;

}