/* Nav bar */

@media only screen and (max-width: 768px) {
    /* BREAKPOINT PARA CELULARES: */
    [class*="col-"] {
      width: 100%;
    }
   }
#teste2{
    padding: 15px;
  }
  
.nav-link dropdown{
    padding:10px;

}
.btn-nav{
    position: relative; 
    margin-right: 20%;
}
/*Inicio Menu Dropdown */
.dropdown-menu[data-bs-popper]{
    right: 0;
}

.dropdown-menu a{
 color: rgb(165, 165, 165);
}
/* Fim Menu Dropdown */

/* Inicio Area de login */
.container.container-login{
    padding-top: 50px;
    padding-bottom: 50px;
}

.container.container-login div{
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Fim Area de login */
/*Inicio Pagina criar conta */
.container.container.containerCriarConta{

padding: 50px;
}


/* Fim pagina criar conta */
/* Inicio carrinho */
.item{
    width: 300px;
} 

.container.container-carrinho{
    padding-top: 30px;
margin: 0;
}
.container.container-carrinho p{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: small;
    
}
.container.container-carrinho .form-check{
    padding: 5px;
}
.container.container-carrinho button{
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 30px;
    width: 300px;
}
/* Fim carrinho */
.table{
    background-color: rgb(255, 255, 255);
    border:1px  black;
    width:100%;
    padding:20px
}
.lista{
    display: inline-block;
    position: relative;
    
    
   
}

.col-sm-4{
    height: 516px;
    text-align: center;
    width: 860px;
}
.col-sm-4 img{
    margin-top: 70px;

}
.carousel-inner img{
    max-width: 500px;
    margin-top: 45px;
}
/* Fim nav bar */
#a1b2c3{
    /* Id da div de descrição com preço do produto */
    padding-top: 15%;
    margin-left: 220px;
    text-align: left;
    line-height:30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#testeprodutos{
    border-radius: 1px;
}




#inputDoTamanho{
/* Input da definição de tamanho */
    border-radius: 20px;
    
    
}

.texto-descricao{
    /* Texto de descrição do produto abaixo da tabela de informaçoes de fabrica */
    font-family:monospace;
    font-size:x-large;
    padding: 50px;
}

   /* Footer */

   #duvidaCss{
    background-color:#badad4; 
    padding-top: 40px;
    padding-bottom: 40px;
  }
   #Copyright{
    background-color:#000000;
    color:rgb(225, 231, 236)
}
#informacoes{
    background-color:rgb(23,23,23);
    color:rgb(225, 231, 236);
    padding-top: 20px;
}
#i{
    background-color:rgb(33,33,33) ;
}
#comprar{
   background-color: rgb(33,33,33);
   border-radius: 50px;
}
/* Fim footer */

